:root{--carlos:#000000;} 

.names{
    color: white;
}
h1{
    color:white;
    text-align: center;
}
h2{
    color:white;
    text-align: center;
}
body{
    background-color:var(--carlos);
    font-family: "Slackside One", cursive;
    font-weight: 50;
    font-style: normal;
}

button{
    text-align: center;
}

.contagem-regressiva{
    text-align: center;
    margin: 20px 30px 20px 30px;
}
.objetivos{
    padding: 5px;
}
.select{
    border-bottom: 3px solid red;
}
.aba-cont{
    display: none;
}
.textos{
    color: white;
}