:root{--carlos:#000000;
} 
h1{
    color:white;
}
body{
    background-color:var(--carlos);
    font-family: "Slackside One", cursive;
    font-weight: 400;
    font-style: normal;
      
}
.foto{
    width: 30%;
}
    
span{
    color:darkorange;
}