:root{--carlos:#000000;
} 
h1{
    color:white;
    text-align: center;
}
h2{
    color:white;
    text-align: center;
}
body{
    background-color:var(--carlos);
    font-family: "Slackside One", cursive;
    font-weight: 400;
    font-style: normal;
      
}
.foto{
    width: 30%;
}
.Sukuna{
    text-align: center;
}

    
span{
    color:darkorange;
}
button{
    text-align: center;
}
.contagem-regressiva{
    text-align: center;
    margin: 20px 30px 20px 30px;
}